<div class="container">
  <div class="row">
    <ng-container *ngFor="let order of quotationList">
      <div class="col-xl-12">
        <div class="card mb-3 card-body">
          <div class="row align-items-center">
            <div class="col-auto">
              <a href="#!.html">
                <img src="/assets/img/order.jpg" class="width-90 rounded-3" alt="">
              </a>
            </div>
            <div class="col">
              <div class="overflow-hidden flex-nowrap">
                <h6 class="mb-1">
                  <a href="#!" class="text-reset">CRM dashboard landing page </a>
                  <span class="badge badge-success badge-lg rounded-pill" style="background-color: #007bff">
                   {{order.orderType}} <i class="fas fa-tasks ml-1"></i>
          </span>
                </h6>
                <span class="text-muted d-block mb-2 small">
                            Updated 2 Hours Ago
                          </span>
                <div class="row align-items-center">
                  <div class="col-12">
                    <div class="row align-items-center g-0">
                      <div class="col-auto">
                        <small class="me-2">{{progressBar(order.progress)}}%</small>
                      </div>
                      <div class="col">

                        <!-- Progress bar -->
                        <div class="progress bg-tint-success" style="height: 4px;">
                          <div class="progress-bar bg-success" role="progressbar"  [style.width]="progressBar(order.progress) + '%'" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 d-flex justify-content-center align-items-center mt-4">
              <button class="btn btn-primary" (click)="addNewSupplier()" >Completed</button>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

  </div>
</div>
