<div class="modal-content" style="padding: 10px;border-radius: 100px">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Job View|Edit</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>

  </div>
  <div class="modal-body">


    <form [formGroup]="detailsForm">
      <div class="c-row">
        <div class="c-col">
          <div class="form_container">
            <div class="form-controls">
              <label >Price <span class="requird">*</span></label>
              <input type="number" formControlName="price" class="form-control" placeholder="Price">
            </div>
          </div>
        </div>

      </div>
      <div class="form-controls">
        <label class="form-label">Image</label>
        <input type="file" class="form-control form-control-md"  (change)="onFileSelected($event)">
      </div>
    </form>

  </div>

  <div class="modal-footer">
    <div class="form_container" style="display: flex;justify-content: end;margin-top: 34px">
      <button class="btn btn-custom"  (click)="modalRef.close()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" style="margin-left: 5px" (click)="completeOrder()">
        Complete
      </button>
    </div>
  </div>
</div>
