<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Customer Orders
      </div>
    </div>
    <div class="btn-sec">
      <button class="btn btn-custom" mat-raised-button *ngIf="this.quotationData.progress=='APPROVED'" (click)="deliver()">Deliver</button>
      <button class="btn btn-custom" mat-raised-button *ngIf="this.quotationData.progress=='DELIVER'" (click)="delivered()">Delivered</button>
      <button class="btn btn-custom" mat-raised-button *ngIf="this.quotationData.progress=='DELIVERED'" (click)="complete()">Complete</button>
      <button class="btn btn-cancel" mat-raised-button (click)="change('CANCELED')">Cancel</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <!-- Profile picture card-->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Product Design</div>
        <div class="card-body text-center">
          <!-- Profile picture image-->
          <ng-container *ngIf="quotationData.type=='DOOR'">
            <img class="img-account-profile  mb-2" src="{{quotationData.doorQuotation.design.image}}" alt="">
          </ng-container>
          <ng-container *ngIf="quotationData.type=='WINDOW'">
            <img class="img-account-profile mb-2" src="{{quotationData.windowQuotation.design.image}}" alt="">

          </ng-container>

        </div>
      </div>

    </div>
    <div class="col-xl-6">
      <!-- Account details card-->
      <div class="card mb-4">
        <div class="card-header">General Info</div>
        <div class="card-body">
          <form>

            <div class="card-body design-details">
              <div class="row" style="">

                <div class="row">
                  <div class="col-6"><label class="small mb-1" >Order Date :</label></div>
                  <!--                  <div class="col-6"><label class="small mb-1">{{this.order.createdAt}}</label></div>-->
                </div>

                <div class="row">
                  <div class="col-6"><label class="small mb-1" >Order Type :</label></div>
                  <!--                  <div class="col-6"><label class="small mb-1">{{this.order.orderType}}</label></div>-->
                </div>

                <div class="row">
                  <div class="col-6"><label class="small mb-1" >Customer Name :</label></div>
                  <div class="col-6"><label class="small mb-1">{{this.customer.firstName}} {{this.customer.lastName}}</label></div>
                </div>

                <div class="row">
                  <div class="col-6"><label class="small mb-1" >Customer Address :</label></div>
                  <div class="col-6"><label class="small mb-1" >{{this.customer.address}}</label></div>
                </div>

                <div class="row">
                  <div class="col-6 "><label class="small mb-1" >Customer Contact  :</label></div>
                  <div class="col-6"><label class="small mb-1" >{{this.customer.contact}}</label></div>
                </div>

              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h3 class="box-title mt-5">Design Info</h3>
      <div class="table-responsive">
        <table class="table table-striped table-product">
          <tbody>
          <tr>
            <td width="390">Design Code</td>
            <ng-container *ngIf="quotationData.type === 'DOOR'">
              <td>{{doorQuotation.design.code}}</td>
            </ng-container>
            <ng-template *ngIf="quotationData.type === 'WINDOWS'">
              <td>{{windowQuotation.design.code}}</td>
            </ng-template>
          </tr>
          <tr>
            <td>Design Name</td>
            <ng-container *ngIf="quotationData.type === 'DOOR'">
              <td>{{doorQuotation.design.name}}</td>
            </ng-container>
            <ng-template *ngIf="quotationData.type === 'WINDOWS'">
              <td>{{windowQuotation.design.name}}</td>
            </ng-template>
          </tr>
          <tr>
            <td>Width</td>
            <ng-container *ngIf="quotationData.type === 'DOOR'">
              <td>{{doorQuotation.width}} mm</td>
            </ng-container>
            <ng-template *ngIf="quotationData.type === 'WINDOWS'">
              <td>{{windowQuotation.width}} mm</td>
            </ng-template>
          </tr>
          <tr>
            <td>Height</td>
            <ng-container *ngIf="quotationData.type === 'DOOR'">
              <td>{{doorQuotation.height}} mm</td>
            </ng-container>
            <ng-template *ngIf="quotationData.type === 'WINDOWS'">
              <td>{{doorQuotation.height}} mm</td>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
