<div class="main">

  <div class="sub-menu" style="justify-content: space-between;align-items: center">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        New Matrial
      </div>
    </div>
    <button mat-button routerLink="../all/cat" style="color: #D31313"><mat-icon style="color: #3182CE">arrow_forward</mat-icon></button>
  </div>

  <section class="new_material_section">
    <div class="container">
      <form [formGroup]="sectionForm">
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">

              <div>
                <label class="form-label">Section No</label>
                <input type="text" class="form-control" formControlName="sectionNo" placeholder="Section No" />
              </div>

              <div>
                <label class="form-label">Code</label>
                <input type="text" class="form-control" formControlName="code" placeholder="Code" />
              </div>

              <div>
                <label class="form-label">Weight</label>
                <input type="text" class="form-control" formControlName="weight" placeholder="Weight" />
              </div>

              <div>
                <label class="form-label">Size</label>
                <select class="form-control nice-select wide" formControlName="size">
                  <option value="" disabled selected>
                    Size mm?
                  </option>
                  <option value="70mm">
                    70mm
                  </option>
                  <option value="100mm">
                    100mm
                  </option>
                  <option value="40mm">
                    40mm
                  </option>
                  <option value="60mm">
                   60mm
                  </option>
                </select>
              </div>

              <div>
                <label class="form-label">Image</label>
                <input type="file" class="form-control form-control-md"  (change)="onFileSelected($event)">
              </div>

          </div>

        </div>

        <div class="col-md-6">
          <div class="form_container">

          <div>
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Section Name" />
          </div>

          <div>
            <label class="form-label">Thickness</label>
            <input type="text" class="form-control" formControlName="thickness" placeholder="Thickness" />
          </div>

          <div>
            <label class="form-label">Category</label>
            <select class="form-control nice-select wide" formControlName="category">
              <option value="" disabled selected>
                Category?
              </option>
              <option *ngFor="let item of category" value="{{item.category}}">
                {{item.category}}
              </option>
            </select>
          </div>

<!--            <div>-->
<!--              <label class="form-label">Type</label>-->
<!--              <select class="form-control nice-select wide" formControlName="password">-->
<!--                <option value="" disabled selected>-->
<!--                  Type..-->
<!--                </option>-->
<!--                <option value="DOOR">-->
<!--                  Door-->
<!--                </option>-->
<!--                <option value="WINDOW">-->
<!--                  Window-->
<!--                </option>-->
<!--                <option value="OTHER">-->
<!--                  Other-->
<!--                </option>-->
<!--              </select>-->
<!--            </div>-->

            <div class="" style="display: flex;justify-content: end">
              <button class="btn btn-custom" (click)="addBarAngles()">
                Save
              </button>
            </div>

          </div>

        </div>
      </div>
      </form>
    </div>
  </section>

</div>
