<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Customer Quotation
      </div>
    </div>
    <div class="btn-sec">

    </div>
  </div>

  <mat-card class="result" style="">
    <mat-card-content>
      <section class="example-section">
        <mat-button-toggle-group [formControl]="fontStyleControl" aria-label="Font Style" >
          <mat-button-toggle value="APPROVED">APPROVED</mat-button-toggle>
          <mat-button-toggle value="DELIVER">DELIVER</mat-button-toggle>
          <mat-button-toggle value="DELIVERED">HAND-OVER</mat-button-toggle>
          <mat-button-toggle value="COMPLETED">COMPLETED</mat-button-toggle>
          <mat-button-toggle value="CANCELED">CANCELED</mat-button-toggle>
        </mat-button-toggle-group>

      </section>
    </mat-card-content>

  </mat-card>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Date</th>
        <th>Total</th>
        <th>Order Status</th>
        <th>status</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of quotationList" (click)="view(item.id)">
        <td>{{item.customer.user.firstName}} {{item.customer.user.lastName}}</td>
        <td>{{item.customer.user.address}}</td>
        <td>{{item.updatedAt}}</td>
        <td>{{item.total}}</td>
        <td>{{item.progress}}</td>
        <td>{{item.status}}</td>
        <td><i class="fa fa-bars" aria-hidden="true" (click)="view(item.id)"></i></td>
      </tr>

    </table>
  </div>

</div>
