<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Sections
      </div>
    </div>
    <button class="btn btn-custom" mat-raised-button (click)="addNew()">+ Add New Section</button>
  </div>
  <div class="sub-menu" style="display: flex;background: #3182CE;justify-content: space-between">
    <div>
      <button class="btn btn-color btn-sm" routerLink="cat" (click)="setMode('ALL')">All</button>
      <button class="btn btn-color btn-sm" routerLink="cat" (click)="setMode('WINDOW')" >Windows</button>
      <button class="btn btn-color btn-sm" routerLink="cat" (click)="setMode('DOOR')" >Door</button>
      <button class="btn btn-color btn-sm" routerLink="cat" (click)="setMode('OTHER')" >Other</button>
    </div>
    <div>
      <mat-icon style="color: #d7d7d7">dns</mat-icon>
    </div>

  </div>
<!--  <div>-->
<!--    <mat-expansion-panel (opened)="panelOpenState = true"-->
<!--                         (closed)="panelOpenState = false">-->
<!--      <mat-expansion-panel-header>-->
<!--        <mat-panel-title>-->
<!--          Advanced Search-->
<!--        </mat-panel-title>-->
<!--      </mat-expansion-panel-header>-->
<!--      <p>I'm visible because I am open</p>-->
<!--    </mat-expansion-panel>-->
<!--  </div>-->

 <router-outlet></router-outlet>

</div>
