.cat-container{
  display: flex;
  flex-wrap: wrap;
}
.cat-button{
  width: 234px;
  height: 80px;
  background: #F8F9FA;
  color: #2D3748;
  border-radius: 5px;
  box-shadow: 0 1px 9px 0 rgba(0,0,0,0.1),0px 6px 5px 0px rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
