<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Door Product
      </div>
    </div>
<!--    <button class="btn btn-custom" mat-raised-button routerLink="../form">+ Add New Door</button>-->
  </div>
  <div class="table-users">
    <table cellspacing="0">
      <tr>
              <th>Pic</th>
              <th>Code</th>
              <th>Name</th>
              <th>Type</th>
              <th>Qty</th>
              <th>Status</th>
              <th>Unit Price</th>
              <th style="width: 10%">Action</th>
      </tr>
      <tr *ngFor="let item of productDoorList">
              <td><img src="{{item.door.image}}" alt="" /></td>
              <td>{{item.door.code}}</td>
              <td>{{item.door.name}}</td>
              <td>{{item.type}}</td>
              <td>{{item.qty}}</td>
              <td>{{item.door.status}}</td>
              <td style="text-align: center">Rs.{{item.price}}</td>
              <td>
              <div [matMenuTriggerFor]="sam" style="padding-left: 15px">
                <mat-icon>more_vert</mat-icon>
                <mat-menu #sam="matMenu">
                  <div style="display: flex;flex-direction: column;padding: 6px">
                    <button class="btn btn-custom" mat-raised-button style="padding: 5px;margin-bottom: 5px" (click)="creatProduct(item)">Create New</button>
                    <button class="btn btn-custom" mat-raised-button style="padding: 5px" (click)="viewProduct(item)">View</button>
                  </div>
                </mat-menu>
              </div>
              </td>
      </tr>

    </table>
  </div>
</div>
