<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Sections
      </div>
    </div>
    <button class="btn btn-custom" mat-raised-button routerLink="../form">+ Add New Door</button>
  </div>

<div style="border-radius: 30px">
  <table class="table table-custom" style="">
    <thead class="table-head" style="">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">qty</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
      <th scope="col" style="width: 10%">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of productDoorList">
      <th scope="row">{{item.id}}</th>
      <td>{{item.code}}</td>
      <td>{{item.name}}</td>
      <td>{{item.type}}</td>
      <td>{{item.qty}}</td>
      <td>{{item.price}}</td>
      <td>{{item.price*item.qty}}</td>
      <td><mat-icon>more_vert</mat-icon></td>
    </tr>
    </tbody>
  </table>
</div>

</div>
