.btn-sec{
  button{
    margin : 10px;
  }
}
$baseColor: #344C64;
$borderRadius: 5px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

body {
  //background-color: lighten($baseColor, 30%);
  //* { box-sizing: border-box; }
}

//.header {
//  background-color: darken($baseColor, 5%);
//  color: white;
//  font-size: 1.5em;
//  padding: 1rem;
//  text-align: center;
//  text-transform: uppercase;
//}

img {
  border-radius: 50%;
  height: $imageSmall;
  width: $imageSmall;
}

.table-users {
  //border: 1px solid darken($baseColor, 5%);
  border-radius: $borderRadius;
  box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 100%;
}

table {
  width: 100%;

  td, th {
    color: darken($baseColor, 10%);
    padding: $padding;
    //font-family: "Helvetica Neue";
  }

  td {

    text-align: left;
    //vertical-align: middle;
    font-size: 0.8em;
    line-height: 0.03;

    //&:last-child {
    //  font-size: 0.9em;
    //  line-height: 0.1;
    //  text-align: left;
    //}
  }

  th {
    background-color: lighten($baseColor, 50%);
    font-weight: 500;
  }

  tr {
    &:nth-child(2n) { background-color: white; }
    &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
  }

  .mat-column-action{
    width: 120px;
    text-align: center;

  }

  tr:hover{
    background-color: lighten($baseColor, 60%);
    cursor: pointer;
    transform: scale(1.01, 1.01);
  }
  button:hover mat-icon {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 20px !important;
  justify-content: end;
}

.example-margin {
  margin: 10px;
  height: 20px;
}



/* styles.css */
.a4-page {
  width: 210mm; /* Standard A4 page width */
  min-height: 297mm; /* Standard A4 page height */
  padding: 20mm; /* Optional padding for content */
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for visual effect */
  overflow: hidden; /* Ensure no overflow causes scrollbars */
  box-sizing: border-box; /* Ensure padding is included in width/height */
}

@media print {
  .a4-page {
    /* Ensure proper page break behavior during printing */
    page-break-after: always;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

.table-product td:first-child {
  font-weight: bold;
  width: 50%;
}
.table-responsive {
  overflow-x: auto; /* Still allow scrolling if necessary */
  width: 100%;      /* Ensure table doesn't exceed container width */
}

.table-product {
  width: 100%; /* Set the table width to 100% of the container */
  table-layout: fixed; /* Ensure cells maintain equal width and prevent overflow */
}

.table-product td {
  white-space: nowrap; /* Prevent wrapping text */
}

.table-product tr:hover {
  background-color: #f5f5f5; /* Row hover effect */
}
