<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Salary Management
      </div>
    </div>
  </div>
  <form [formGroup]="detailsForm" >
  <div class="row">
    <div class="col-3">


      <div class="form-controls">
        <label >Employee</label>
        <select class="form-select" formControlName="employeeID" aria-label="Default select example">
          <option selected disabled value="">Select Type</option>
          <ng-container *ngFor="let employee of employeeList">
          <option value="{{employee.user.id}}">{{employee.user.firstName}} {{employee.user.lastName}}</option>
          </ng-container>
        </select>
      </div>

    </div>

    <div class="col-3">

      <div class="form_container">
        <div class="form-controls">
          <label >Date <span class="requird">*</span></label>
          <input type="date" formControlName="date" class="form-control" placeholder="Due Date">
        </div>
      </div>

    </div>
    <div class="col-1" style="align-items: center">
      <label></label>
      <div> <mat-icon (click)="clear()" matTooltip="Clear Values">format_clear</mat-icon></div>
    </div>

    <div class="col-5">
      <div class="btn-sec" style="float: right">
        <button class="btn btn-custom" mat-raised-button (click)="addNewSupplier()">Pay Salary</button>
      </div>
    </div>


  </div>

  </form>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Employee Name</th>
        <th>Current Salary</th>
        <th>Paid Salary</th>
        <th>Additional</th>
        <th>Date</th>
        <th >Action</th>
      </tr>
      <tr *ngFor="let item of salaryList">
        <td>{{item.employee.user.firstName}} {{item.employee.user.lastName}}</td>
        <td>RS.{{item.employee.salary}}</td>
        <td>{{item.salary}}</td>
        <td>{{item.additional}}</td>
        <td>{{item.date}}</td>
        <td>
          <mat-icon (click)="view(item.invoice)" matTooltip="View PaySlip">assignment</mat-icon>
        </td>
      </tr>

    </table>
  </div>

</div>
