<mat-stepper linear #stepper>

  <mat-step [completed]="isFirstFormEnable" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Enter Your Email</ng-template>
      <div class="form_container">
        <div class="form-controls">
          <label >Email <span class="requird">*</span></label>
          <input type="text" formControlName="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div>
        <button class="btn-primary" (click)="sendEmail(stepper)">Send</button>
      </div>
    </form>
  </mat-step>

  <mat-step [completed]="isSecondFormEnable" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Verify Your Account</ng-template>
      <div class="form_container">
        <div class="form-controls">
          <label >Code <span class="requird">*</span></label>
          <input type="number" formControlName="email" class="form-control" placeholder="code">
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Reset Your Password</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>

</mat-stepper>
