<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Job List
      </div>
    </div>
    <div class="btn-sec">
<!--      <button class="btn btn-custom" mat-raised-button>Door</button>-->
    </div>
  </div>

<!--  <div style="border-radius: 30px">-->
<!--    <a href="" *ngFor="let item of jobList">-->
<!--      <div style="background: #3182CE;margin: 10px;border-radius: 5px">-->
<!--        {{item.id}}-->
<!--    </div>-->
<!--    </a>-->
<!--  </div>-->
  <div style="display: flex;justify-content: center;width: 100%">


  <div class="cards" style="display: flex;flex-wrap: wrap;justify-content: space-around">

      <div class="card ash"  style="width: 40%;display: flex " *ngFor="let item of jobList" (click)="getItem(item)">
        <div class="card-first-row" style="display: flex;justify-content: space-between">
          <div class="text-field"*ngIf="item.stockItem.type=='DOOR'">{{item.stockItem.door.code}}</div>
          <div class="text-field" *ngIf="item.stockItem.type=='WINDOWS'">{{item.stockItem.windows.code}}</div>
          <div><span class="badge badge-primary rounded-pill d-inline" style=" background: chartreuse;"
          >NEW</span
          ></div>
        </div>
        <div class="card-second-row" style="display: flex;padding-top: 5px">
          <div class="col 1" style="text-align: left;padding: 5px">
            <div class="text-field"><span class="topic">Job Type: </span>{{item.stockItem.type}}</div>
            <div  class="text-field"><span class="topic">Created At: </span></div>
          </div>
          <div class="col 2" style="text-align: left;padding: 5px">
            <div class="text-field"><span class="topic">Due Date: </span>{{item.dueDate}}</div>
            <div  class="text-field"><span class="topic">Qty: </span>{{item.qty}}</div>
          </div>
<!--          <div class="col 3">-->

<!--          </div>-->
        </div>

      </div>

  </div>

  </div>

</div>
