<div class="modal-content" style="padding: 10px;border-radius: 100px">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Job View|Edit</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>

  </div>
  <div class="modal-body">


    <form [formGroup]="jobForm">
      <div class="c-row">
        <div class="c-col">
          <div class="form_container">
            <div class="form-controls">
              <label >Due Date <span class="requird">*</span></label>
              <input type="date" formControlName="dueDate" class="form-control" placeholder="Due Date" >
            </div>

          </div>

        </div>

        <div class="c-col">
          <div class="form_container">
            <div class="form-controls">
              <label >Qty <span class="requird">*</span></label>
              <input type="number" formControlName="qty" class="form-control" placeholder="Qty">
            </div>
          </div>
        </div>

      </div>
      <div class="form-controls">
        <label >Description</label>
        <textarea rows="3" type="text"  formControlName="description" class="form-control" placeholder="type here.."></textarea>
      </div>
    </form>

<!--    Door section details-->
    <div class="door">
    <form  [formGroup]="doorForm">
      <div class="c-row">
        <div class="c-col">
          <div class="form_container">

            <div class="form-controls">
              <label>Name <span class="requird">*</span></label>
              <input type="text" formControlName="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
            </div>

            <div class="form-controls">
              <label >Width (mm) <span class="requird">*</span></label>
              <input type="number" formControlName="width" class="form-control" placeholder="width">

            </div>

            <div class="form-controls">
              <label >Filling Type <span class="requird">*</span></label>
              <select class="form-select" formControlName="fillingType" aria-label="Default select example">
                <option selected disabled value="">Select Type</option>
                <option value="FULL_GLASS">Full Glass</option>
                <option value="FULL_BOARD">Full Board</option>
                <option value="GLASS_BOARD">Glass And Board</option>
              </select>
            </div>

            <div class="form-controls">
              <label >Type Of Board</label>
              <select class="form-select" formControlName="typeOfBoard" aria-label="Default select example">
                <option selected disabled value="">Select Type</option>
                <option value="CLADDING">CLADDING</option>
                <option value="PVC">PVC</option>
                <option value="MDF">MDF</option>
              </select>
            </div>


          </div>

        </div>

        <div class="c-col">
          <div class="form_container">

            <div class="form-controls">
              <label>Code <span class="requird">*</span></label>
              <input type="text" formControlName="code" class="form-control" aria-describedby="emailHelp" placeholder="Enter code">
            </div>

            <div class="form-controls">
              <label >Height (mm) <span class="requird">*</span></label>
              <input type="number" formControlName="height" class="form-control" placeholder="height">
            </div>

            <div class="form-controls">
              <label >Board Thickness (mm)</label>
              <input type="number" formControlName="boardThickness" class="form-control" placeholder="Board Thickness">
            </div>

            <div class="form-controls">
              <label >Glass Thickness (mm)</label>
              <input type="number" formControlName="glassThickness" class="form-control" placeholder="Glass Thickness">
            </div>



          </div>

        </div>
        <div class="c-col">

          <div class="form-controls">
            <label >Type Glass Thickness</label>
            <select class="form-select" formControlName="type" aria-label="Default select example">
              <option selected disabled value="">Select Type</option>
              <option value="SLIDING">SLIDING</option>
              <option value="CASEMENT">CASEMENT</option>
            </select>
          </div>

          <div class="form-controls">
            <label >Door Color</label>
            <input style="width: 60px;height: 38px" type="color" formControlName="doorColor" class="form-control"  aria-describedby="emailHelp" placeholder="Color">
          </div>

          <div class="form-controls">
            <label >Board Color</label>
            <input style="width: 60px;height: 38px" type="color" formControlName="boardColor" class="form-control"  aria-describedby="emailHelp" placeholder="Color">
          </div>

          <div class="form-controls">
            <label >Glass Color</label>
            <input style="width: 60px;height: 38px" type="color" formControlName="glassColor" class="form-control"  aria-describedby="emailHelp" placeholder="Color">
          </div>
        </div>
      </div>

    </form>

    </div>

  </div>
  <div class="modal-footer">
    <div class="form_container" style="display: flex;justify-content: end;margin-top: 34px">
      <button class="btn btn-custom"  (click)="modalRef.close()">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" style="margin-left: 5px" (click)="updateJobDoor()" [hidden]="this.data.data.status=='INACTIVE'">
        Save changes
      </button>
    </div>
  </div>
</div>
