<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Website Management
      </div>
    </div>
    <div>
      <button class="btn btn-custom" mat-raised-button (click)="addNewSupplier()">+ Add New Content</button>
    </div>
  </div>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Code</th>
        <th width="150">Type</th>
        <th>Header</th>
        <th >Content</th>
        <th >Action</th>
      </tr>
      <tr >
        <td>content code</td>
        <td>content type</td>
        <td>content header</td>
        <td>content description</td>
        <td><mat-icon>delete_outline</mat-icon></td>
      </tr>

    </table>
  </div>

</div>


