<mat-tab-group [(selectedIndex)]="selectedTabIndex">
  <mat-tab label="Job" style="height: 100%">
    <form >
      <div class="c-row">
        <div class="c-col">
          <div class="form_container">
            <div class="form-controls">
              <label >Due Date <span class="requird">*</span></label>
              <input type="date" name="dueDate" class="form-control" placeholder="Due Date" >
            </div>

          </div>

        </div>

        <div class="c-col">
          <div class="form_container">
            <div class="form-controls">
              <label >Qty <span class="requird">*</span></label>
              <input type="number" name="qty" class="form-control" placeholder="Qty">
            </div>
          </div>
        </div>

      </div>
      <div class="form-controls">
        <label >Description</label>
        <textarea rows="5" type="text"  name="description" class="form-control" placeholder="type here.."></textarea>
      </div>
    </form>
    <div class="form_container" style="display: flex;justify-content: end;margin-top: 105px">
      <button class="btn btn-custom"  (click)="goToNextTab()" >
        Next
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Door" style="height: 100%">

    <form  >
      <div class="c-row">
        <div class="c-col">
          <div class="form_container">

            <div class="form-controls">
              <label>Name</label>
              <input type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
            </div>

            <div class="form-controls">
              <label >Width (mm) <span class="requird">*</span></label>
              <input type="number" name="width" class="form-control" placeholder="width">

            </div>

            <div class="form-controls">
              <label >Filling Type <span class="requird">*</span></label>
              <select class="form-select" name="fillingType" aria-label="Default select example">
                <option selected disabled value="">Select Type</option>
                <option value="FULL_GLASS">Full Glass</option>
                <option value="FULL_BOARD">Full Board</option>
                <option value="GLASS_BOARD">Glass And Board</option>
              </select>
            </div>

            <div class="form-controls">
              <label >Type Of Board</label>
              <select class="form-select" name="typeOfBoard" aria-label="Default select example">
                <option selected disabled value="">Select Type</option>
                <option value="CLADDING">CLADDING</option>
                <option value="PVC">PVC</option>
                <option value="MDF">MDF</option>
              </select>
            </div>


          </div>

        </div>

        <div class="c-col">
          <div class="form_container">

            <div class="form-controls">
              <label>Code <span class="requird">*</span></label>
              <input type="text" name="code" class="form-control" aria-describedby="emailHelp" placeholder="Enter code">
            </div>

            <div class="form-controls">
              <label >Height (mm) <span class="requird">*</span></label>
              <input type="number" name="height" class="form-control" placeholder="height">
            </div>

            <div class="form-controls">
              <label >Board Thickness (mm)</label>
              <input type="number" name="boardThickness" class="form-control" placeholder="height">
            </div>

            <div class="form-controls">
              <label >Glass Thickness (mm)</label>
              <input type="number" name="glassThickness" class="form-control" placeholder="height">
            </div>



          </div>

        </div>
        <div class="c-col">

          <div class="form-controls">
            <label >Type <span class="requird">*</span></label>
            <select class="form-select" name="type" aria-label="Default select example">
              <option selected disabled value="">Select Type</option>
              <option value="SLIDING">SLIDING</option>
              <option value="CASEMENT">CASEMENT</option>
            </select>
          </div>

          <div class="form-controls">
            <label >Door Color <span class="requird">*</span></label>
            <input style="width: 60px;height: 38px" type="color" name="doorColor" class="form-control"  aria-describedby="emailHelp" placeholder="Color">
          </div>

          <div class="form-controls">
            <label >Board Color</label>
            <input style="width: 60px;height: 38px" type="color" name="boardColor" class="form-control"  aria-describedby="emailHelp" placeholder="Color">
          </div>

          <div class="form-controls">
            <label >Glass Color</label>
            <input style="width: 60px;height: 38px" type="color" name="glassColor" class="form-control"  aria-describedby="emailHelp" placeholder="Color">
          </div>
        </div>
      </div>

    </form>
    <div class="form_container" style="display: flex;justify-content: end;margin-top: 34px">
      <button class="btn btn-custom"  (click)="goToPreviousTab()" >
        Back
      </button>
      <button type="button" class="btn btn-primary" style="margin-left: 5px" >
        Save changes
      </button>
    </div>
  </mat-tab>
</mat-tab-group>
