<!--<h1 mat-dialog-title>Hi s</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your favorite animal?</p>-->
<!--  <mat-form-field>-->
<!--    s-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No Thanks</button>-->
<!--  <button mat-button  cdkFocusInitial>Ok</button>-->
<!--</div>-->
<div style="display: flex">
  <div style="flex: 1">
    <img src="./assets/item01.png" alt="">
  </div>
  <div style="flex: 1">
    details
  </div>
</div>
