<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Utility Management
      </div>
    </div>
    <div>
      <button class="btn btn-custom" mat-raised-button (click)="addNewSupplier()">+ Add New Utility</button>
    </div>
  </div>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Bill No</th>
        <th>Bill Name</th>
        <th>Type</th>
        <th width="150">Price</th>
        <th >Date</th>
        <th >Action</th>
      </tr>
      <tr *ngFor="let item of dataList">
        <td>{{item.billNo}}</td>
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.payment}}</td>
        <td>{{item.date}}</td>
        <td>
          <mat-icon (click)="view(item.bill)">assignment</mat-icon>
          <mat-icon>delete_outline</mat-icon>
        </td>
      </tr>

    </table>
  </div>

</div>

