<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add GRN</h5>

    <i class="fa-solid fa-xmark" (click)="modalRef.close()"></i>

  </div>
  <div class="modal-body">

    <form class="form-two-column" [formGroup]="designForm">
      <div class="c-col">

        <div class="form-controls">
          <label>Qty</label>
          <input type="number" class="form-control mt-1" formControlName="firstName">
        </div>

        <div class="form-controls">
          <label>Payment</label>
          <input type="number" class="form-control mt-1"  formControlName="email">
        </div>

        <div class="form-controls">
          <label>Invoice No</label>
          <input type="text" class="form-control mt-1" formControlName="firstName">
        </div>



      </div>
      <div class="c-col">

        <div class="form-controls">
          <label>Price</label>
          <input type="number" class="form-control mt-1"  formControlName="lastName">
        </div>

        <div class="form-controls">
          <label>Date</label>
          <input type="date" class="form-control mt-1"  formControlName="nic">
        </div>

        <div class="form-controls">
          <label>Upload Receipt</label>
          <input type="file" class="form-control form-control-md mt-1"  (change)="onFileSelected($event)" >
        </div>


      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-cancel" (click)="modalRef.close()">Cancel</button>
    <button class="btn btn-save-admin" (click)="saveSupplier()">Save</button>
  </div>
</div>

