<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Customers
      </div>
    </div>
  </div>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Picture</th>
        <th>Name</th>
        <th width="150">Email</th>
        <th>Address</th>
        <th >Contact</th>
        <th >Action</th>
      </tr>

      <tr *ngFor="let item of employeeList">
        <td><img src="{{item.user.image}}" alt="" /></td>
        <td>{{item.user.firstName}} {{item.user.lastName}}</td>
        <td>{{item.user.email}}</td>
        <td>{{item.user.address}}</td>
        <td>{{item.user.contact}}</td>
        <td>
          <mat-icon style="color: dodgerblue"  class="me-2" matTooltip="View Customer" (click)="viewCustomer()">visibility</mat-icon>
          <mat-icon style="color: red" matTooltip="Block Customer">block</mat-icon>
      </tr>

    </table>
  </div>

</div>

