<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Salary</h5>

    <i class="fa-solid fa-xmark" (click)="modalRef.close()"></i>

  </div>
  <div class="modal-body">

    <form class="form-two-column" [formGroup]="detailsForm">
      <div class="c-col">

        <div class="form-controls">
          <label >Employee</label>
          <select class="form-select" formControlName="employee" (change)="getEmp($event)">
            <option selected disabled value="">Select Type</option>
            <ng-container *ngFor="let employee of employeeList">
              <option value="{{employee.user.id}}">{{employee.user.firstName}} {{employee.user.lastName}}</option>
            </ng-container>
          </select>
        </div>

        <div class="form_container">
          <div class="form-controls">
            <label >Date <span class="requird">*</span></label>
            <input type="date" formControlName="date" class="form-control" placeholder="Due Date">
          </div>
        </div>

        <div class="form-controls">
          <label>Upload pay slip</label>
          <input type="file" class="form-control form-control-md mt-1"  (change)="onFileSelected($event)" >
        </div>


      </div>
      <div class="c-col">

        <div class="form-controls">
          <label>Salary</label>
          <input class="form-control mt-1"  formControlName="salary">
        </div>

        <div class="form-controls">
          <label>Additional Payment</label>
          <input class="form-control mt-1"  formControlName="additional">
        </div>

      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-cancel" (click)="modalRef.close()">Cancel</button>
    <button class="btn btn-save-admin" (click)="saveSalary()">Save</button>
  </div>
</div>
