.navbar{
  z-index: 1;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(26,69,52) !important;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
.container{
  //background: rgb(26,69,52);
  margin: 0px !important;
}
