<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="'home'">Agile Aluminum</a>

    <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="'quotation'">Quotation</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="'product'">Product</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" (click)="scrollToSection('about')">About</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="'home'">Contact</a></li>
        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="'home'">Notification</a></li>
        <li class="nav-item mx-0 mx-lg-1" [matMenuTriggerFor]="sam" style="padding-left: 15px;display:flex;justify-content: center;align-items: center">
          <mat-icon matBadge="17" matBadgeColor="warn" matBadgeSize="small"  [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" style="color: white">notifications</mat-icon>
          <mat-menu #sam="matMenu">
            <div style="display: flex;flex-direction: column">
              <div style="padding: 5px">notification 01</div>
              <div style="padding: 5px">notification 02</div>
              <div style="padding: 5px"><a href="">view more..</a></div>
            </div>
          </mat-menu>
        </li>
        <li class="nav-item mx-0 mx-lg-1"> <a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="'cart'"><i class="fa fa-cart-plus" aria-hidden="true"></i></a> </li>
      </ul>
    </div>
  </div>
  <div style="float: right">
    <div [matMenuTriggerFor]="menu" style="padding-left: 25px;">
      <i class="fa-solid fa-user"></i>
      <mat-menu #menu="matMenu">
        <div class="user-card">
          <span class="label-name">Manusha Silva</span>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link py-3 px-0 px-lg-3 rounded" [routerLink]="'my-profile'">My Profile</a></li>
          </ul>
          <div class="btn-bar button-row" style="display: flex;justify-content: center">
            <button mat-stroked-button  [hidden]="true"> LogOut <mat-icon fontIcon="logout"></mat-icon></button>
            <button mat-stroked-button  [routerLink]="'/auth/customer/login'"> LogIn <mat-icon fontIcon="login"></mat-icon></button>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</nav>
