.left {
  display: flex;
}
img{
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.top-bar {
  //background-color: #101828;
  //background: linear-gradient(90deg, #101828 50%, #67A8E3 110.84%);
  background: #15283c;
  height: 8%;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mat-card-sm-image {
  width: 80px;
  height: 80px;
  position: relative;
  left: 25%;
  padding-bottom: 13px;
}

.mat-raised-button {
  margin-right: 12px;
}


.user-card {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .label-name{
    font-weight: 900;
  }

  img {
    max-width: 40%;
    margin-bottom: 5px;
  }

  .btn-bar {
    margin-top: 10px;
    width: 95%;
    display: flex;
    // padding: 5px;
    justify-content: center;
    border-top: 1px solid #eeeee4;
    padding-top: 5px;
  }

  .info {
    flex-direction: row !important;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  span:nth-child(4) {
    font-size: 12px;
  }
}

::ng-deep.cdk-overlay-pane {
  margin-top: 10px !important;
}

::ng-deep.mat-menu-panel {
  max-width: 260px !important;
}
.menu-button{
  .menu-icon{
    color: #3182CE;
  }

}
