<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        GRN List
      </div>
    </div>
  </div>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Invoice NO</th>
        <th>Quantity</th>
        <th width="150">Price</th>
        <th>Payment</th>
        <th >Date</th>
        <th >Status</th>
        <th >Action</th>
      </tr>
      <tr *ngFor="let item of employeeList">
        <td>Invoice001</td>
        <td>10</td>
        <td>RS.2500.00</td>
        <td>RS.25000.00</td>
        <td>2024-09-16</td>
        <td>Active</td>
        <td><mat-icon>delete_outline</mat-icon></td>
      </tr>

    </table>
  </div>

</div>
