<div class="main">

  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        GRN List
      </div>
    </div>
    <div>
      <button class="btn btn-secondary" (click)="back()">Back</button>
    </div>
  </div>

  <div class="table-users">
    <table cellspacing="0">
      <tr>
        <th>Invoice NO</th>
        <th>Quantity</th>

        <th>Payment</th>
        <th >Date</th>
        <th >Action</th>
      </tr>
      <tr *ngFor="let item of grnList">
        <td>{{item.invoiceNo}}</td>
        <td>{{item.qty}}</td>
        <td>RS.{{item.price}}</td>
        <td>{{item.date}}</td>

        <td>
          <mat-icon (click)="view(item.invoice)" matTooltip="View PaySlip">assignment</mat-icon>
        </td>
      </tr>

    </table>
  </div>

</div>
