<div class="container">

  <div class="bg-light p-3 mb-4 d-flex flex-column flex-md-row justify-content-between align-items-center rounded shadow-sm product-list-search-bar" style="background-color: #eeeeee">
    <div class="sub-nav mb-3 mb-md-0" style="display: flex; gap: 8px">
      <button type="button" class="btn btn-outline-primary mb-2 mb-md-0">All</button>
      <button type="button" class="btn btn-outline-primary mb-2 mb-md-0">Windows</button>
      <button type="button" class="btn btn-outline-primary mb-2 mb-md-0">Door</button>
    </div>
    <div class="search-bar w-100 w-md-auto" style="margin-left:600px ">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Search...">
      </div>
    </div>
  </div>
  <div class="row clearfix">

    <ng-container *ngFor="let product of productDoorList">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="card product_item">
        <div class="body">
          <div class="cp_img">
            <img style="" src="{{product.door.image}}" alt="Product" class="img-fluid product-image">
            <div class="hover">
              <a (click)="openModal(product)" class="btn btn-primary btn-sm waves-effect m-1"><i class="fa fa-plus" aria-hidden="true" ></i></a>
              <a (click)="openModal(product)" class="btn btn-primary btn-sm waves-effect m-1"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="product_details">
            <h5><a href="ec-product-detail.html">Simple Black Clock</a></h5>
            <p>Fortune Bathroom Door – Full Panel (White- 690mm x 1905mm)</p>
            <ul class="product_price list-unstyled">
<!--              <li class="old_price">Rs. 16.00</li>-->
              <li class="new_price">RS. 13.00</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </ng-container>

  </div>
</div>
