<div class="main">
  <div class="sub-menu" style="justify-content: space-between">
    <div style="display: flex;justify-content: center">
      <mat-icon style="color: #3182CE;margin-right: 5px">public</mat-icon>
      <div style="font-weight: bold">
        Purchase Request
      </div>
    </div>
  </div>

  <div style="border-radius: 30px">
    <table class="table-users" mat-table #table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}"> {{element.id}}
        </td>
      </ng-container>

      <ng-container matColumnDef="creationType">
        <th mat-header-cell *matHeaderCellDef> Inventory Type </th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}"> {{element.inventory.inventoryType}}
        </td>
      </ng-container>

      <ng-container matColumnDef="supplier">
        <th mat-header-cell *matHeaderCellDef> Supplier </th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}">
          {{element.supplier.firstName}} {{element.supplier.lastName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dispatchQty">
        <th mat-header-cell *matHeaderCellDef> Dispatch Qty </th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}"> {{element.dispatchQty}}
        </td>
      </ng-container>


      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> Qty </th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)" [ngClass]="{'highlight-row': element.qty === element.dispatchQty}"> {{element.qty}} </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> Created By</th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}"> Manusha Silva </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef>Inventory Code</th>
        <td mat-cell *matCellDef="let element" (click)="onRowClick(element)"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}">
          {{element.inventory.code}}

        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>

        <td mat-cell *matCellDef="let element"  [ngClass]="{'highlight-row': element.qty === element.dispatchQty}">
          <div [matMenuTriggerFor]="sam" style="padding-left: 15px">
            <mat-icon>more_vert</mat-icon>
            <mat-menu #sam="matMenu">
              <div style="display: flex;flex-direction: column;padding: 6px">
                <button class="btn btn-custom" mat-raised-button style="padding: 5px;margin-bottom: 5px" (click)="addNewGrn(element.id)">Create GRN</button>
                <button class="btn btn-custom" mat-raised-button style="padding: 5px" (click)="viewProduct(element.id)">View</button>
              </div>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row empty-table" *matNoDataRow>
        <td class="mat-cell" colspan="12">No data matching the filter</td>
      </tr>

    </table>
  </div>
  <mat-paginator
    [length]="totalPage"
    [pageSizeOptions]="pageSize"
    (page)="onPageChange ($event)"
    showFirstLastButtons>
  </mat-paginator>

</div>
