body{margin-top:20px;
  background-color:#f2f6fc;
  color:#69707a;
}
.img-account-profile {
  height: 17rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.design-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 //table

$baseColor: #344C64;
$borderRadius: 5px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;

table {
  .table-image {
    border-radius: 50%;
    height: 60px;
    width: 60px;
  }
  width: 100%;

  td, th {
    color: darken($baseColor, 10%);
    padding: $padding;
  }

  td {

    text-align: left;
    font-size: 0.8em;
    line-height: 0.03;
  }

  th {
    background-color: lighten($baseColor, 50%);
    font-weight: 500;
  }

  tr {
    &:nth-child(2n) { background-color: white; }
    &:nth-child(2n+1) { background-color: lighten($baseColor, 55%) }
  }

  .mat-column-action{
    width: 120px;
    text-align: center;

  }

  tr:hover{
    background-color: lighten($baseColor, 60%);
    cursor: pointer;
    transform: scale(1.01, 1.01);
  }
  button:hover mat-icon {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
}
