.main{
  padding: 10px;
}
.sub-menu{
  padding: 10px;
  box-shadow: 0 1px 9px 0 rgba(0,0,0,0.1),0px 6px 5px 0px rgba(0,0,0,0.03);
  display: flex;
  border-radius: 5px;
  margin: 10px;
  align-items: center;
}
