<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Utility Bill</h5>

    <i class="fa-solid fa-xmark" (click)="modalRef.close()"></i>

  </div>
  <div class="modal-body">

    <form class="form-two-column" [formGroup]="detailsForm">
      <div class="c-col">

        <div class="form-controls">
          <label>Bill</label>

          <select class="form-control nice-select wide mt-1" formControlName="type">
            <option value="" disabled selected>
              Select Bill Type..
            </option>
            <option value=" Water">
              Water Bill
            </option>
            <option value="Electricity">
              Electricity Bill
            </option>
            <option value="Other">
              Other Bill
            </option>
          </select>
        </div>

        <div class="form-controls">
          <label>Bill No</label>
          <input class="form-control mt-1" formControlName="billNo">
        </div>

        <div class="form-controls">
          <label>Payment</label>
          <input class="form-control mt-1"  formControlName="payment">
        </div>

      </div>
      <div class="c-col">

        <div class="form-controls">
          <label>Bill Name</label>
          <input class="form-control mt-1"  formControlName="name">
        </div>

        <div class="form-controls">
          <label>Date</label>
          <input type="date" class="form-control mt-1"  formControlName="date">
        </div>

        <div class="form-controls">
          <label>Upload Receipt</label>
          <input type="file" class="form-control form-control-md mt-1"  (change)="onFileSelected($event)" >
        </div>


      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-cancel" (click)="modalRef.close()">Cancel</button>
    <button class="btn btn-save-admin" (click)="saveUtility()">Save</button>
  </div>
</div>
