.comp-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100%;
  //max-height: 70px;
  max-width: 200px;

  img {
    //border-radius: 50%;
    width: 140px;
    margin-right: 5px
  }

}

.company-name {}

.flexed {
  display: flex;
}
