
<div class="main container mt-4">

  <!-- Sub-Menu Section -->
  <div class="sub-menu d-flex justify-content-between align-items-center bg-gradient-primary-to-secondary p-3 rounded shadow-lg">
    <div class="d-flex align-items-center">
      <mat-icon style="color: blue; margin-right: 10px;">public</mat-icon>
      <div class="font-weight-bold" style="font-size: 1.5rem;">My Task</div>
    </div>
    <div class="btn-sec">
    </div>
  </div>
  <mat-tab-group (selectedTabChange)="onTabChange($event)">
    <mat-tab label="Pending" style="height: 100%">
      <!-- Cards Section -->
      <div class="d-flex justify-content-center mt-4">
        <div class="cards row w-100 justify-content-around">
          <div class="card col-md-5 mb-4 p-4 bg-white rounded-lg shadow-lg transition-hover" *ngFor="let item of jobList" (click)="getStockItemById(item)">

            <!-- Header with door code and progress -->
            <div class="card-first-row d-flex justify-content-between align-items-center mb-3">
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.stockItem && item.stockItem.type=='DOOR'">{{item.stockItem.door.code}}</div>
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.stockItem && item.stockItem.type=='WINDOWS'">{{item.stockItem.windows.code}}</div>
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.creationType=='QUOTATION'">{{item.jobCode}}</div>
              <div>
            <span class="badge badge-success badge-lg rounded-pill">
              {{item.progress}} <i class="fas fa-tasks ml-1"></i>
            </span>
              </div>
            </div>

            <!-- Job details -->
            <div class="card-second-row row">
              <div class="col-md-6">
                <div class="text-field" *ngIf="item.stockItem">
                  <i class="fas fa-tools text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary" >Job Type: </span>{{item.stockItem.type}}

                </div>
                <div class="text-field" *ngIf="item.quotation">
                  <i class="fas fa-tools text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary" *ngIf="item.quotation">Job Type: </span>{{item.creationType}}
                </div>

              </div>
              <div class="col-md-6">
                <div class="text-field">
                  <i class="fas fa-calendar-check text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary">Due Date: </span>{{item.dueDate}}
                </div>
                <div class="text-field mt-2">
                  <i class="fas fa-sort-numeric-up text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary">Qty: </span>{{item.qty}}
                </div>
              </div>
            </div>

            <!-- Footer with actions -->
            <div class="mt-4 d-flex justify-content-between align-items-center">
              <button class="btn btn-info btn-sm">
                <i class="fas fa-info-circle mr-2"></i> View Details
              </button>
              <span class="badge badge-pill badge-warning text-dark">
            <i class="fas fa-exclamation-circle mr-1"></i> Urgent
          </span>
            </div>

          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Processing" style="height: 100%">

      <!-- Cards Section -->
      <div class="d-flex justify-content-center mt-4">
        <div class="cards row w-100 justify-content-around">
          <div class="card col-md-5 mb-4 p-4 bg-white rounded-lg shadow-lg transition-hover" *ngFor="let item of jobList" (click)="getStockItemById(item)">

            <!-- Header with door code and progress -->
            <div class="card-first-row d-flex justify-content-between align-items-center mb-3">
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.stockItem && item.stockItem.type=='DOOR'">{{item.stockItem.door.code}}</div>
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.stockItem && item.stockItem.type=='WINDOWS'">{{item.stockItem.windows.code}}</div>
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.creationType=='QUOTATION'">{{item.jobCode}}</div>
              <div>
            <span class="badge badge-success badge-lg rounded-pill">
              {{item.progress}} <i class="fas fa-tasks ml-1"></i>
            </span>
              </div>
            </div>

            <!-- Job details -->
            <div class="card-second-row row">
              <div class="col-md-6">
                <div class="text-field" *ngIf="item.stockItem">
                  <i class="fas fa-tools text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary" >Job Type: </span>{{item.stockItem.type}}

                </div>
                <div class="text-field" *ngIf="item.quotation">
                  <i class="fas fa-tools text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary" *ngIf="item.quotation">Job Type: </span>{{item.creationType}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-field">
                  <i class="fas fa-calendar-check text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary">Due Date: </span>{{item.dueDate}}
                </div>
                <div class="text-field mt-2">
                  <i class="fas fa-sort-numeric-up text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary">Qty: </span>{{item.qty}}
                </div>
              </div>
            </div>

            <!-- Footer with actions -->
            <div class="mt-4 d-flex justify-content-between align-items-center">
              <button class="btn btn-info btn-sm">
                <i class="fas fa-info-circle mr-2"></i> View Details
              </button>
              <span class="badge badge-pill badge-warning text-dark">
            <i class="fas fa-exclamation-circle mr-1"></i> Urgent
          </span>
            </div>

          </div>
        </div>
      </div>

    </mat-tab>
    <mat-tab label="Completed" style="height: 100%">

      <!-- Cards Section -->
      <div class="d-flex justify-content-center mt-4">
        <div class="cards row w-100 justify-content-around">
          <div class="card col-md-5 mb-4 p-4 bg-white rounded-lg shadow-lg transition-hover" *ngFor="let item of jobList" (click)="getStockItemById(item)">

            <!-- Header with door code and progress -->
            <div class="card-first-row d-flex justify-content-between align-items-center mb-3">
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.stockItem && item.stockItem.type=='DOOR'">{{item.stockItem.door.code}}</div>
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.stockItem && item.stockItem.type=='WINDOWS'">{{item.stockItem.windows.code}}</div>
              <div class="text-field text-primary font-weight-bold" style="font-size: 1.2rem;" *ngIf="item.creationType=='QUOTATION'">{{item.jobCode}}</div>
              <div>
            <span class="badge badge-success badge-lg rounded-pill">
              {{item.progress}} <i class="fas fa-tasks ml-1"></i>
            </span>
              </div>
            </div>

            <!-- Job details -->
            <div class="card-second-row row">
              <div class="col-md-6">
                <div class="text-field" *ngIf="item.stockItem">
                  <i class="fas fa-tools text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary" >Job Type: </span>{{item.stockItem.type}}

                </div>
                <div class="text-field" *ngIf="item.quotation">
                  <i class="fas fa-tools text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary" *ngIf="item.quotation">Job Type: </span>{{item.creationType}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="text-field">
                  <i class="fas fa-calendar-check text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary">Due Date: </span>{{item.dueDate}}
                </div>
                <div class="text-field mt-2">
                  <i class="fas fa-sort-numeric-up text-muted mr-2"></i>
                  <span class="font-weight-bold text-secondary">Qty: </span>{{item.qty}}
                </div>
              </div>
            </div>

            <!-- Footer with actions -->
            <div class="mt-4 d-flex justify-content-between align-items-center">
              <button class="btn btn-info btn-sm">
                <i class="fas fa-info-circle mr-2"></i> View Details
              </button>
              <span class="badge badge-pill badge-warning text-dark">
            <i class="fas fa-exclamation-circle mr-1"></i> Urgent
          </span>
            </div>

          </div>
        </div>
      </div>

    </mat-tab>
  </mat-tab-group>



</div>
